---
import MainLayout from "@/layouts/MainLayout.astro";

// Récupère les données depuis l'API externe
export async function getStaticPaths() {
  console.log("Fetching data from API...");
  const res = await fetch("https://api.restful-api.dev/objects/4");
  const product = await res.json();
  const ids = ["post-1", "post-2", "post-3"]; // ou récupérés d'une API

  return ids.map((id) => ({
    params: { id },
    props: {product},
  }));
}

const { product } = Astro.props;
const pageTitle = `${product.name} | Product Page`;
---

<MainLayout title={pageTitle}>
  <section class="mx-auto max-w-3xl px-4 py-12 sm:px-6 lg:px-8">
    <div class="max-w-2xl">
      <h2 class="mb-4 text-3xl font-bold text-neutral-800 dark:text-neutral-200">
        {product.name}
      </h2>
      <ul class="text-lg text-neutral-700 dark:text-neutral-300 space-y-2">
        <li><strong>ID:</strong> {product.id}</li>
        <li><strong>Price:</strong> ${product.data.price}</li>
        <li><strong>Color:</strong> {product.data.color}</li>
      </ul>
    </div>
  </section>
</MainLayout>